@import 'variables';

.about {

  display: flex;
  padding-top: 3%;

    &__mission {
      display: flex;
      flex-direction: column;
      background-color: $background-light;
      padding: 60px 0;
      text-align: center;
      
      img {
        width: 10%;
        margin-bottom: 20px;
      }
      p {
        font-size: 1.3rem;
      }
    }
  
    &__photo {
      display: flex;
      flex-direction: row;
      width: 10%;
    }

  }
  