// Variables SASS
$primary-color: #1c1c1c;
$secondary-color: #ffcc00;
$text-color: #ffffff;
$background-light: #f8f8f8;

.home {

  &__phone-image{
    width: 50%;
  }

  &__hero {
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../assets/Gymnasio-Fitsync.jpg');
    background-size: cover;
    background-position: center;
    color: $text-color;
    text-align: center;
    display: flex;
    h1 {
      font-size: 3.5rem;
      margin-bottom: 20px;
    }
    p {
      font-size: 1.8rem;
    }
  }

  &__hero--box{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__phone-image{
    width: 30%;
  }

  &__services {
    background-color: $background-light;
    text-align: center;
    padding: 50px 0;
    h2 {
      font-size: 2.5rem;
      margin-bottom: 40px;
    }
    .Service__cta {
      background-color: $secondary-color;
      padding: 15px 30px;
      border: none;
      cursor: pointer;
      color: $primary-color;
      font-weight: bold;
      margin-top: 20px;
    }

    .services__list {
      display: flex;
      justify-content: space-around;
      .service {
        background-color: #fff;
        padding: 20px;
        border: 1px solid #ddd;
        width: 250px;
        h3 {
          font-size: 1.5rem;
          margin-bottom: 10px;
        }
        p {
          font-size: 1.1rem;
        }
      }
    }
  }
}
