// Variables SASS
$primary-color: #1c1c1c;
$secondary-color: #ffcc00;
$text-color: #ffffff;
$background-light: #f8f8f8;

.home__header {
    width: 100%;
    position: fixed;
    justify-items: center;
    z-index: 1000; 
    top: 0;
    left: 0;
    background-color: $primary-color;
    padding: 1.3em;
    .navbar {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__logo {
        width: 120px;
      }
      &__menu {
        list-style: none;
        display: flex;
        gap: 25px;
        li {
          color: $text-color;
        }
      }
      &__cta {
        background-color: $secondary-color;
        padding: 30px 20px;
        border: none;
        cursor: pointer;
        color: $primary-color;
        font-weight: bold;
      }
    }
  }