@import './sass/global.scss';
@import './sass/_variables.scss';
@import './sass/_Navbar.scss';
@import './sass/_Footer.scss';
@import './sass/_PromotionSlider.scss';
@import './sass/_aboutDesktop.scss';
@import './sass/_homeDesktop.scss';
@import './sass/_shopDesktop';
@import './sass/_ContactDesktop.scss';